<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <script charset="utf-8" src="node_modules/angular/angular.js"></script>
    <script charset="utf-8" src="app.js"></script>
    <div ng-app="myApp" ng-controller="myController">
      <form ng-submit="submit">
        <input type="text" ng-model="input1" required/>
        <input type="text" ng-model="input2" required/>
        <input type="submit"/>
      </form>
    </div>
  </body>
</html>